<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/300px-Pandas_logo.svg.png">

<strong>Practice Exercise 1</strong>
<br>
Data:
<ul>
    <li><a href="data/titles.csv">titles.csv</a></li>
    <li><a href="data/cast.csv">cast.csv</a></li>
</ul>
Tutorial Video:
<a href="https://www.youtube.com/watch?v=5JnMutdy6Fw">Brandon Rhodes Pycon</a>

In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [75]:
titles = pd.read_csv('data/titles.csv')

In [76]:
cast = pd.read_csv('data/cast.csv')

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

214591

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.sort_values('year').head(2)

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [9]:
len(titles[titles['title']=="Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [10]:
len(titles[titles['title']=="North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [11]:
(titles[titles['title']=="Hamlet"]).sort_values('year').head(1)

         title  year
100923  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
titles[titles.title=="Treasure Island"].sort_values('year')

                  title  year
48904   Treasure Island  1918
108475  Treasure Island  1920
89471   Treasure Island  1934
52435   Treasure Island  1950
118309  Treasure Island  1972
144139  Treasure Island  1973
191845  Treasure Island  1985
50325   Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
len(titles[titles.year==1950])

1036

### How many movies were made in the year 1960?

In [14]:
len(titles[titles.year==1960])

1461

### How many movies were made from 1950 through 1959?

In [63]:
len(titles[(titles.year >=1950) & (titles.year<=1959)])

12110

### In what years has a movie titled "Batman" been released?

In [64]:
titles[titles.title=="Batman"]

        title  year
16656  Batman  1989
56309  Batman  1943

### How many roles were there in the movie "Inception"?

In [17]:
len(cast[cast.title=="Inception"])

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [18]:
c=cast[cast.title=="Inception"]
c=c[c.n.isnull()]
len(c)

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [19]:
c=cast[cast.title=="Inception"]
c=c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [66]:
c=cast[cast.title=="North by Northwest"]
c=c[c.n.notnull()]
c=c.sort_values('n')
c

,title,year,name,type,character,n
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [67]:
c=cast[(cast.title=="Sleuth") & (cast.year==1972)]
c=c.sort_values('n')
c

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [68]:
c=cast[(cast.title=="Sleuth") & (cast.year==2007)]
c=c.sort_values('n')
c

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [24]:
c=len(cast[(cast.title=="Hamlet") & (cast.year==1921)].name)
print(c)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [25]:
c=len(cast[(cast.title=="Hamlet") & (cast.year==1996)].name)
print(c)

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [83]:
c=cast[cast.character=="Hamlet"]
len(c.name)

81

### How many people have played an "Ophelia"?

In [26]:
c=cast[cast.character=="Ophelia"]
len(c.name.unique())

94

### How many people have played a role called "The Dude"?

In [27]:
c=cast[cast.character=="The Dude"]
len(c.character)

16

### How many people have played a role called "The Stranger"?

In [72]:
c=cast
len(c[c.character == 'The Stranger'].name.unique())

184

### How many roles has Sidney Poitier played throughout his career?

In [29]:
c=cast[cast.name=="Sidney Poitier"]
len(c.title)

43

### How many roles has Judi Dench played?

In [30]:
c=cast[cast.name=="Judi Dench"]
len(c.title)

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [41]:
c=cast[(cast.name=="Cary Grant") & (cast.n==2)& (cast.year>=1940)&(cast.year<1950)]
c

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [46]:
c=cast[(cast.name=="Cary Grant")&(cast.year>=1940)&(cast.year<1950)].sort_values('year')
c

,title,year,name,type,character,n
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773493,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773503,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773473,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773535,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [56]:
c=cast[(cast.type=="actor") & (cast.year>=1950) & (cast.year<1960)].sort_values('year')
len(c.title)

147951

### How many roles were available for actresses in the 1950s?

In [57]:
c=cast[(cast.type=="actress") & (cast.year>=1950) & (cast.year<1960)].sort_values('year')
len(c.title)

53969

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [61]:
c=cast[(cast.year<=1980) & (cast.n==1)]
len(c)

61444

### How many non-leading roles were available through from the beginning of film history through 1980?

In [62]:
c=cast[(cast.year<=1980) & (cast.n!=1)]
len(c)

1047877

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [80]:
c=cast[(cast.year<=1980) & (cast.n.isnull())]
len(c)

415167